<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-content">
      <h1 class="main-logo">Music App</h1>
        <% if logged_in? %>
          <nav>
            <p> Logged in as: <%= current_user.email %></p> 
            <form action="<%= session_url %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="submit" value="Logout">
            </form>
          </nav>
        <% end %>
    </div>
    <%= yield %>
  </body>
</html>
